### This directory is meant for everything related to documentation of
### the code

### from TeX
*.aux
*.bbl
*.blg
*.log
*.pdf
*.bcf
*.tex.backup
*.acn
*.fdb_latexmk
*.fls
*.glo
*.ist
*.run.xml
*.synctex.gz
*.toc


### intermediate code versions of tfQMRgpu
libtfqmrgpu-*/*

work/*
