### executable
green

### soft links to compile without CUDA created by HAS_NO_CUDA.sh
green_*.cxx

### objects
*.o

### shared objects
*.so

### static libraries
*.a

### dependency files
*.d

### input files and output logging files
*.dat

### jupyter files
.ipynb_checkpoints/*

### Visual Studio Code
.vscode/*
