### executable
a43

### objects
*.o

### shared objects
*.so

### static libraries
*.a

### dependency files
*.d

### input files and output logging files
*.dat

### start potentials for accelerating atomic scf calculations
pot


potx

### logarithmic derivatives for all integer species
logder-plot

### Visual Studio Code config
.vscode/*
